{% load static %}
<title>MUSIC 4U</title>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'musica/style.css' %}" />

<style>
    body {
        background: url("https://getwallpapers.com/wallpaper/full/a/5/a/180363.jpg");
        background-size: cover;
    }
</style>

<div align="center">
    <h1 style="color:white">{{ pedido.pedido_titulo }}</h1>
</div>

    <div style = "position:absolute; right:0px; top:0px;">
        <a href="{% url 'musica:apagarajuda' pedido.id%}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-White">Apagar Ajuda</a>
    </div>

    <div style="position:absolute; right:0px; top:80px;">
        <a href="{% url 'musica:procura' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-White" >Voltar atrás</a>
    </div>
<div style = "position:absolute; right:610px; top:395px;">
    {{ pedido.user}}
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div style="text-align:center;">
    {{ pedido.pedido_texto }}
</div>
<br><br>
<div style="text-align:center;">
    {{ pedido.pedido_contacto }}
</div>
<style>
img {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
}
</style>

<body>
<img  src="{% static pedido.imagem %}">
</body>
