{% load static %}
<title>MUSIC 4U</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'musica/style.css' %}" />

<style>
    body {
        background: url("https://getwallpapers.com/wallpaper/full/3/f/b/1026891-drum-set-wallpaper-1920x1200-mac.jpg");
        background-size: cover;
    }
</style>
<br><br>

<form action= "{% url 'musica:adicionarcomentario' post.id %}" method="post">
    {% csrf_token %}
    <label for="novoComentario"> <b>Comentário:</b></label>
    <input type="text" id="novoComentario" name="novoComentario" style="height:40px;width:420px;" required="required"><br>
    <br><br>
    <input type="submit" value="Guardar comentário" class="w3-bar-item w3-button w3-hover-white">
</form>

    <div style="position:absolute; right:0px; top:0px;">
        <a href="{% url 'musica:detalhe' post.id %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-Black" >Voltar atrás</a>
    </div>
